#container{
	width:95%;
	margin:20px;
	border-style:solid;
	border-color:#000000;
	border-width:2px;
}

#breeds{
	width:60%;
	margin:10px;
	background:#008080;
	border-style:solid;
	border-color:#F000F0; 
	border-width:2px;
}